{% extends 'base.html' %}

{% block title %}
Conduction Input 2
{% endblock title %}



{% load static %}

{% block content %}
    <form action="{% url 'conduction-sphere-input3' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="nMaterial" name="nMaterial" value={{nMaterial}}>
        <input type="hidden" id="heatCoef1" name="heatCoef1" value={{heatCoef1}}>
        <input type="hidden" id="heatCoef2" name="heatCoef2" value={{heatCoef2}}>
        <input type="hidden" id="ambTemp1" name="ambTemp1" value={{ambTemp1}}>
        <input type="hidden" id="ambTemp2" name="ambTemp2" value={{ambTemp2}}>
        <input type="hidden" id="n" name="n" value={{n}}>
        <input type="hidden" id="n1" name="n1" value={{n1}}>

        <div class="mt-5">
            <div class="text-white mx-20 text-[50px] font-bold ">
                Conduction
                <span class="mx-5 bg-white text-gray-900 text-3xl rounded-3xl px-6 font-extrabold font-sans">Sphere</span> 
            </div>            
        </div>
        <div class="mx-6 flex justify-between px-10 py-8 mb-16">
            <div class="mx-8  w-4/12">
                <div class="px-8 py-2 mt-2 text-[23px] text-white font-bold">
                    1. N + 1 Temperatures:
                </div>
                <div class="flex flex-wrap space-y-6 overflow-x-hidden h-[250px] scroll-smooth">
                    {% for i in nt %}
                        <input type="text" name="nTemp{{i}}" class="mt-6 mx-5 h-[90px] px-5 py-5 w-4/12 rounded-xl  bg-[#EF6D58] text-white text-lg" id="" >
                    {% endfor %}
                </div>
            </div>
            <div class="mx-8  w-4/12">
                <div class="px-8 py-2 mt-2 text-[23px] text-white font-bold">
                    2. N Raddi:
                </div>
                <div class="flex flex-wrap space-y-6 overflow-x-hidden h-[250px]">
                    {% for i in nr %}
                        <input type="text" name="nLength{{i}}" class="mt-6 mx-5 h-[90px] px-5 py-5 w-4/12 rounded-xl  bg-[#EF6D58] text-white text-lg" id="" >
                    {% endfor %}
                </div>
            </div>
            <div class="mx-8  w-4/12">
                <div class="px-8 py-2 mt-2 text-[23px] text-white font-bold">
                    3. N Thermal conductivities :
                </div>
                <div class="flex flex-wrap space-y-6 overflow-x-hidden h-[250px]">
                    {% for i in nc %}
                        <input type="text" name="nThermal{{i}}" class="mt-6 mx-5  h-[90px] px-5 py-5 w-4/12 rounded-xl  bg-[#EF6D58] text-white text-lg" id="" >
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="mt-2 full px-10 py-3 flex justify-between">
            <div class="flex ">
                <a href="/" class="bg-white px-2 py-1 mx-3 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                        <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                        <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                      </svg>
                </a>
                <a href="{% url 'conduction-sphere-input1' %}" class="bg-white px-2 py-1 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                        <path fill-rule="evenodd" d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z" clip-rule="evenodd" />
                      </svg>                      
                </a>
            </div>
            
            <!-- <a href="{% url 'conduction-sphere-input3' %}" class="bg-white px-5 py-3 text-gray-900 font-extrabold text-3xl  text-center rounded-lg">
                Next
            </a> -->

            
            
            <button type="submit" class="bg-white px-5 py-3 text-gray-900 font-extrabold text-3xl  text-center rounded-lg">
                Submit
            </button>
              
        </div>
    </form>

{% endblock content %}