{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}



{% load static %}

{% block content %}
    
        
        <div class="flex mt-10">
            <div class="bg-[#28293E] px-11  ml-5 w-7/12">
                <div class="font-extrabold text-white text-[72px] px-8 py-10 cfont">Select t<snap class="bg-[url({% static './images/star.svg' %})] bg-no-repeat bg-center  bg-contain		">he</snap> <br/>Field of Problem<br/>  You need to solve</div>
            </div>
            <div class="ctbn items-center  w-5/12">
                <p class="cfot text-center font-bold text-[20px] text-[#EF6D58] italic">FIELDS OF HEAT TRANSFER</p>
                <div class="  mt-2 grid justify-center">
                    <a href="{% url 'conduction' %}" class=" bg-[#EF6D58] rounded-sm m-5 px-3 py-4 font-bold cfont text-[#ffffff] self-center ">CONDUCTION</a>
                    <a href="{% url 'lcha' %}"  class=" bg-[#EF6D58] rounded-sm m-5 px-3 py-4 font-bold cfont text-[#ffffff] ">LHCA</a>
                    <a href="{% url 'heat' %}"  class=" bg-[#EF6D58] rounded-sm m-5 px-3 py-4 font-bold cfont text-[#ffffff] ">HEAT EXCHANGERS</a >
                </div>
            </div>
        </div>


{% endblock content %}