{% extends 'base.html' %}

{% block title %}
LCHA Input1
{% endblock title %}



{% load static %}

{% block content %}
    <form action="{% url 'lcha-slabs-input2' %}" method="POST">
        {% csrf_token %}
        <div class="mt-5">
            <div class="text-white mx-20 text-[50px] font-bold ">
                LCHA
                <span class="mx-5 bg-white text-gray-900 text-3xl rounded-3xl px-6 font-extrabold font-sans">Slabs</span> 

            </div>
            <div class="mx-6 px-5 py-4 w-full">
                <div class="text-center w-6/12 px-8 py-2 mt-2 text-[39px] text-white font-bold">
                    Enter the property values:
                </div>
                <div class="flex justify-between w-full pl-20">
                    <div class="px-8 py-2 mt-2 w-6/12 text-[43px] text-white font-bold">
                        1. Thickness:
                    </div>
                    <div class="w-6/12">
                        <input type="text" name="nWalls" class="mt-6 px-5 py-5 rounded-lg  bg-[#EF6D58] w-8/12 text-white text-lg" id="" >
                    </div>
                </div>
                <div class="flex justify-between w-full pl-20">
                    <div class="px-8 py-2 mt-2 w-6/12 text-[43px] text-white font-bold">
                        2. Density:
                    </div>
                    <div class="w-6/12">
                        <input type="text" name="density" class="mt-6 px-5 py-5 rounded-lg  bg-[#EF6D58] w-8/12 text-white text-lg" id="" >
                    </div>
                </div>
                <div class="flex justify-between w-full pl-20">
                    <div class="px-8 py-2 mt-2 w-6/12 text-[43px] text-white font-bold">
                        3. Specific heat:
                    </div>
                    <div class="w-6/12">
                        <input type="text" name="sheat" class="mt-6 px-5 py-5 rounded-lg  bg-[#EF6D58] w-8/12 text-white text-lg" id="" >
                    </div>
                </div>
                <div class="flex justify-between w-full pl-20">
                    <div class="px-8 py-2 mt-2 w-6/12 text-[43px] text-white font-bold">
                        4. Temperature:
                    </div>
                    <div class="w-6/12">
                        <input type="text" name="temp" class="mt-6 px-5 py-5 rounded-lg  bg-[#EF6D58] w-8/12 text-white text-lg" id="" >
                    </div>
                </div>
                <div class="flex justify-between w-full pl-20">
                    <div class="px-8 py-2 mt-2 w-6/12 text-[43px] text-white font-bold">
                        5. Thermal conductivity:
                    </div>
                    <div class="w-6/12">
                        <input type="text" name="thermal" class="mt-6 px-5 py-5 rounded-lg  bg-[#EF6D58] w-8/12 text-white text-lg" id="" >
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2 full px-10 py-3 flex justify-between">
            <div class="flex ">
                <a href="/" class="bg-white px-2 py-1 mx-3 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                        <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                        <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                      </svg>
                </a>
                <a href="{% url 'lcha' %}" class="bg-white px-2 py-1 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                        <path fill-rule="evenodd" d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z" clip-rule="evenodd" />
                      </svg>                      
                </a>
            </div>
            <!-- <a href="{% url 'lcha-slabs-input2' %}" class="bg-white px-5 py-3 text-gray-900 font-extrabold text-3xl  text-center rounded-lg">
                Next
            </a> -->
            
            <button type="submit" class="bg-white px-5 py-3 text-gray-900 font-extrabold text-3xl  text-center rounded-lg">
                Next
            </button>
              
        </div>

    </form>

{% endblock content %}